<div class="form-container">
  <h2 class="form-title">{{ bibliografiaId ? 'Editar' : 'Agregar' }} Bibliografía</h2>
  <form (ngSubmit)="saveBibliografia()" class="form-content">
    <div class="form-group">
      <label for="referencia" class="form-label">Referencia:</label>
      <input
        type="text"
        id="referencia"
        name="referencia"
        [(ngModel)]="referencia"
        class="form-input"
        required
      />
    </div>



      <div class="form-actions">
        <button type="submit" class="submit-btn">
          Guardar
        </button>
        <button
            type="button"
            (click)="cerrarModal()"
            class="cancel-btn"
          >
            Cancelar
          </button>
      </div>

  </form>
</div>